


/* Outline */
.outline {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
}

/* Fill */
.fill {
  fill: #63edff;
}

/* CLIP PATH animation */
.fill-rect {
  animation: fillReveal 2.5s ease forwards;
}

/* BLUE movement */
.fill-group {
  animation: blueRise 2.5s ease forwards;
  transform-origin: center;
}

@keyframes fillReveal {
  from {
    y: 500px;
    height: 0;
  }
  to {
    y: 0;
    height: 500px;
  }
}

@keyframes blueRise {
  from {
    transform: translateY(500px);
  }
  to {
    transform: translateY(0);
  }
}


.svg-liquid {
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;

  filter: blur(40px) saturate(130%);
  transform: scale(1.2);

  /* animation: slowFloat 30s ease-in-out infinite alternate; */
}

/* Gentle container motion */
/* @keyframes slowFloat {
  0% {
    transform: scale(1.15) translate(0, 0);
  }
  100% {
    transform: scale(1.25) translate(-3%, 2%);
  }
} */
